In [279]:
'''rajouter une colonne qui va contenir la population/nombre de starbucks dans une ville
1er graph --> ville avec maximum de starbucks
2e graph --> minimum de starbucks par capital'''

'rajouter une colonne qui va contenir la population/nombre de starbucks dans une ville\n1er graph --> ville avec maximum de starbucks\n2e graph --> minimum de starbucks par capital'

In [280]:
import pandas as pd

In [281]:
df = pd.read_csv("df_merge_clean.csv")

In [282]:
df['nb_personne_starbucks'] = df['POPESTIMATE']/df['Count']

In [283]:
df

,City_x_x,2019,2020,2021,State/Province_x,City_State_x,Matched_Index,Count,City_y,State/Province_y,...,AGE8084_FEMALE,AGE85PLUS_TOTAL,AGE85PLUS_MALE,AGE85PLUS_FEMALE,MEDIAN_AGE_TOTAL,MEDIAN_AGE_MALE,MEDIAN_AGE_FEMALE,City_x_y,State_x,nb_personne_starbucks
0,Akron,51827,55232.0,58735.0,OH,"Akron, OH",22,10,Akron,OH,...,8206.0,13859.0,4963.0,8896.0,40.7,39.7,41.8,Akron,OH,70001.500000
1,Albany,38118,42006.0,45619.0,GA,"Albany, GA",29,3,Albany,GA,...,1635.0,2383.0,738.0,1645.0,37.6,35.9,39.0,Albany,GA,49257.666667
2,Lebanon,44501,48357.0,52695.0,OR,"Lebanon, OR",1755,1,Lebanon,OR,...,1543.0,2176.0,832.0,1344.0,39.8,39.0,40.6,Lebanon,OR,129839.000000
3,Troy,59477,63951.0,67788.0,NY,"Troy, NY",3228,1,Troy,NY,...,10344.0,18979.0,6456.0,12523.0,40.6,39.4,41.7,Troy,NY,899286.000000
4,Albuquerque,44884,48514.0,52263.0,NM,"Albuquerque, NM",32,37,Albuquerque,NM,...,9926.0,15532.0,5999.0,9533.0,39.2,38.2,40.4,Albuquerque,NM,24817.810811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,Worcester,55671,60364.0,64540.0,MACT,"Worcester, MACT",3576,3,Worcester,MA,...,10094.0,18179.0,6041.0,12138.0,40.4,39.4,41.4,Worcester,MA,326149.000000
292,Yakima,43208,47315.0,50872.0,WA,"Yakima, WA",3585,11,Yakima,WA,...,2287.0,3808.0,1444.0,2364.0,33.1,32.4,33.7,Yakima,WA,23275.909091
293,Hanover,51295,54808.0,57870.0,PA,"Hanover, PA",1347,2,Hanover,PA,...,5294.0,9061.0,3198.0,5863.0,41.0,40.0,42.1,Hanover,PA,229348.000000
294,Boardman,42450,46009.0,48904.0,OHPA,"Boardman, OHPA",298,1,Boardman,OH,...,8086.0,14291.0,4840.0,9451.0,43.8,42.0,45.8,Boardman,OH,538069.000000
295,Yuma,37624,42732.0,44299.0,AZ,"Yuma, AZ",3605,8,Yuma,AZ,...,3239.0,5159.0,2575.0,2584.0,35.2,33.9,36.9,Yuma,AZ,25873.750000

In [284]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Columns: 114 entries, City_x_x to nb_personne_starbucks
dtypes: float64(98), int64(3), object(13)
memory usage: 263.8+ KB

In [285]:
df_age_test = df[['POPESTIMATE','POPEST_MALE',	'POPEST_FEMALE',
'AGE1824_MALE','AGE1824_FEMALE','AGE2544_MALE','AGE2544_FEMALE','AGE4564_MALE','AGE4564_FEMALE','AGE65PLUS_MALE','AGE65PLUS_FEMALE']]

In [286]:
df_age_test

,POPESTIMATE,POPEST_MALE,POPEST_FEMALE,AGE1824_MALE,AGE1824_FEMALE,AGE2544_MALE,AGE2544_FEMALE,AGE4564_MALE,AGE4564_FEMALE,AGE65PLUS_MALE,AGE65PLUS_FEMALE
0,700015.0,341789.0,358226.0,33660.0,34826.0,87019.0,87574.0,90660.0,94147.0,58419.0,71940.0
1,147773.0,70139.0,77634.0,7198.0,7672.0,17452.0,19614.0,16685.0,19050.0,10735.0,14046.0
2,129839.0,64524.0,65315.0,5011.0,4834.0,17207.0,17052.0,15844.0,16036.0,11658.0,13211.0
3,899286.0,442304.0,456982.0,47626.0,47352.0,115194.0,114438.0,115942.0,119736.0,74812.0,91177.0
4,918259.0,453922.0,464337.0,40782.0,39180.0,127855.0,124010.0,111130.0,115539.0,73943.0,89719.0
...,...,...,...,...,...,...,...,...,...,...,...
291,978447.0,485933.0,492514.0,46335.0,45155.0,127349.0,124525.0,135167.0,136066.0,74022.0,89074.0
292,256035.0,128399.0,127636.0,12527.0,11948.0,32906.0,32377.0,27643.0,27097.0,16805.0,19388.0
293,458696.0,228366.0,230330.0,18926.0,17453.0,57856.0,56830.0,61581.0,61763.0,38335.0,45392.0
294,538069.0,265881.0,272188.0,22833.0,21127.0,63601.0,60260.0,70741.0,72378.0,52939.0,65943.0
295,206990.0,107309.0,99681.0,12808.0,9232.0,28773.0,23780.0,19683.0,20251.0,19586.0,20983.0

In [287]:
df_age_male = df[['AGE1824_MALE','AGE2544_MALE','AGE4564_MALE','AGE65PLUS_MALE']]

In [288]:
df_age_male

     AGE1824_MALE  AGE2544_MALE  AGE4564_MALE  AGE65PLUS_MALE
0         33660.0       87019.0       90660.0         58419.0
1          7198.0       17452.0       16685.0         10735.0
2          5011.0       17207.0       15844.0         11658.0
3         47626.0      115194.0      115942.0         74812.0
4         40782.0      127855.0      111130.0         73943.0
..            ...           ...           ...             ...
291       46335.0      127349.0      135167.0         74022.0
292       12527.0       32906.0       27643.0         16805.0
293       18926.0       57856.0       61581.0         38335.0
294       22833.0       63601.0       70741.0         52939.0
295       12808.0       28773.0       19683.0         19586.0

[296 rows x 4 columns]

In [289]:
df_age_male = df_age_male.rename(columns=lambda x: ''.join(filter(str.isdigit, str(x))))

In [290]:
df_age_male

        1824      2544      4564       65
0    33660.0   87019.0   90660.0  58419.0
1     7198.0   17452.0   16685.0  10735.0
2     5011.0   17207.0   15844.0  11658.0
3    47626.0  115194.0  115942.0  74812.0
4    40782.0  127855.0  111130.0  73943.0
..       ...       ...       ...      ...
291  46335.0  127349.0  135167.0  74022.0
292  12527.0   32906.0   27643.0  16805.0
293  18926.0   57856.0   61581.0  38335.0
294  22833.0   63601.0   70741.0  52939.0
295  12808.0   28773.0   19683.0  19586.0

[296 rows x 4 columns]

In [291]:
df_age_male['6585'] = df_age_male['65']

In [292]:
df_age_male.drop(['65'], axis=1, inplace=True)

In [293]:
df_age_male['POPEST_MALE'] = df['POPEST_MALE']

In [294]:
df_age_male.astype(int)

      1824    2544    4564   6585  POPEST_MALE
0    33660   87019   90660  58419       341789
1     7198   17452   16685  10735        70139
2     5011   17207   15844  11658        64524
3    47626  115194  115942  74812       442304
4    40782  127855  111130  73943       453922
..     ...     ...     ...    ...          ...
291  46335  127349  135167  74022       485933
292  12527   32906   27643  16805       128399
293  18926   57856   61581  38335       228366
294  22833   63601   70741  52939       265881
295  12808   28773   19683  19586       107309

[296 rows x 5 columns]

In [295]:
df_age_male['Moyenne_1824'] = df_age_male['1824']*(18+24)/2
df_age_male['Moyenne_2544'] = df_age_male['2544']*(25+44)/2
df_age_male['Moyenne_4564'] = df_age_male['4564']*(45+64)/2
df_age_male['Moyenne_6585'] = df_age_male['6585']*(65+85)/2
df_age_male['Moyenne_majeur'] = (df_age_male['Moyenne_1824']+df_age_male['Moyenne_2544']+df_age_male['Moyenne_4564']+df_age_male['Moyenne_6585'])/df_age_male['POPEST_MALE']

In [296]:
df_age_male

,1824,2544,4564,6585,POPEST_MALE,Moyenne_1824,Moyenne_2544,Moyenne_4564,Moyenne_6585,Moyenne_majeur
0,33660.0,87019.0,90660.0,58419.0,341789.0,706860.0,3002155.5,4940970.0,4381425.0,38.127062
1,7198.0,17452.0,16685.0,10735.0,70139.0,151158.0,602094.0,909332.5,805125.0,35.183129
2,5011.0,17207.0,15844.0,11658.0,64524.0,105231.0,593641.5,863498.0,874350.0,37.764560
3,47626.0,115194.0,115942.0,74812.0,442304.0,1000146.0,3974193.0,6318839.0,5610900.0,38.218235
4,40782.0,127855.0,111130.0,73943.0,453922.0,856422.0,4410997.5,6056585.0,5545725.0,37.164380
...,...,...,...,...,...,...,...,...,...,...
291,46335.0,127349.0,135167.0,74022.0,485933.0,973035.0,4393540.5,7366601.5,5551650.0,37.628288
292,12527.0,32906.0,27643.0,16805.0,128399.0,263067.0,1135257.0,1506543.5,1260375.0,32.439836
293,18926.0,57856.0,61581.0,38335.0,228366.0,397446.0,1996032.0,3356164.5,2875125.0,37.767301
294,22833.0,63601.0,70741.0,52939.0,265881.0,479493.0,2194234.5,3855384.5,3970425.0,39.489610
295,12808.0,28773.0,19683.0,19586.0,107309.0,268968.0,992668.5,1072723.5,1468950.0,35.442600

In [297]:
df_age_test

,POPESTIMATE,POPEST_MALE,POPEST_FEMALE,AGE1824_MALE,AGE1824_FEMALE,AGE2544_MALE,AGE2544_FEMALE,AGE4564_MALE,AGE4564_FEMALE,AGE65PLUS_MALE,AGE65PLUS_FEMALE
0,700015.0,341789.0,358226.0,33660.0,34826.0,87019.0,87574.0,90660.0,94147.0,58419.0,71940.0
1,147773.0,70139.0,77634.0,7198.0,7672.0,17452.0,19614.0,16685.0,19050.0,10735.0,14046.0
2,129839.0,64524.0,65315.0,5011.0,4834.0,17207.0,17052.0,15844.0,16036.0,11658.0,13211.0
3,899286.0,442304.0,456982.0,47626.0,47352.0,115194.0,114438.0,115942.0,119736.0,74812.0,91177.0
4,918259.0,453922.0,464337.0,40782.0,39180.0,127855.0,124010.0,111130.0,115539.0,73943.0,89719.0
...,...,...,...,...,...,...,...,...,...,...,...
291,978447.0,485933.0,492514.0,46335.0,45155.0,127349.0,124525.0,135167.0,136066.0,74022.0,89074.0
292,256035.0,128399.0,127636.0,12527.0,11948.0,32906.0,32377.0,27643.0,27097.0,16805.0,19388.0
293,458696.0,228366.0,230330.0,18926.0,17453.0,57856.0,56830.0,61581.0,61763.0,38335.0,45392.0
294,538069.0,265881.0,272188.0,22833.0,21127.0,63601.0,60260.0,70741.0,72378.0,52939.0,65943.0
295,206990.0,107309.0,99681.0,12808.0,9232.0,28773.0,23780.0,19683.0,20251.0,19586.0,20983.0

In [298]:
type(df_age_test)

pandas.core.frame.DataFrame

In [299]:
df_age_mode = df[['POPESTIMATE','POPEST_MALE',	'POPEST_FEMALE','AGE1824_MALE','AGE1824_FEMALE',
'AGE2529_MALE','AGE2529_FEMALE',	
'AGE3034_MALE'	,'AGE3034_FEMALE',	
'AGE3539_MALE'	,'AGE3539_FEMALE',	
'AGE4044_MALE',	'AGE4044_FEMALE',	
'AGE4549_MALE',	'AGE4549_FEMALE',	
'AGE5054_MALE',	'AGE5054_FEMALE',	
'AGE5559_MALE',	'AGE5559_FEMALE',	
'AGE6064_MALE',	'AGE6064_FEMALE',	
'AGE6569_MALE',	'AGE6569_FEMALE',	
'AGE7074_MALE',	'AGE7074_FEMALE',	
'AGE7579_MALE',	'AGE7579_FEMALE',	
'AGE8084_MALE',	'AGE8084_FEMALE',	
'AGE85PLUS_MALE',	'AGE85PLUS_FEMALE']]

In [300]:
df_age_mode_femme = df_age_mode[['AGE1824_FEMALE','AGE2529_FEMALE','AGE3034_FEMALE','AGE3539_FEMALE','AGE4044_FEMALE','AGE4549_FEMALE','AGE5054_FEMALE','AGE5559_FEMALE','AGE6064_FEMALE',
                                 'AGE6569_FEMALE','AGE7074_FEMALE','AGE7579_FEMALE','AGE8084_FEMALE','AGE85PLUS_FEMALE']]

In [301]:
df_age_mode_femme = df_age_mode_femme.rename(columns=lambda x: ''.join(filter(str.isdigit, str(x))))

In [302]:
df_age_mode_femme['8591'] = df_age_mode_femme['85']

In [303]:
df_age_mode_femme.drop(['85'], axis=1, inplace=True)

In [304]:
df_age_mode_femme['POPEST_FEMALE'] = df['POPEST_FEMALE']

In [305]:
for age in ['1824', '2529', '3034', '3539', '4044', '4549', '5054', '5559', '6064', '6569', '7074', '7579', '8084', '8591']:
    df_age_mode_femme[f'Moyenne_{age}'] = df_age_mode_femme[age] * ((int(age[:2]) + int(age[2:])) / 2)

df_age_mode_femme['Moyenne_femme'] = df_age_mode_femme[[f'Moyenne_{age}' for age in ['1824', '2529', 
                                                                                     '3034', '3539', 
                                                                                     '4044', '4549', 
                                                                                     '5054', '5559', 
                                                                                     '6064', '6569', 
                                                                                     '7074', '7579', 
                                                                                     '8084', '8591']]].sum(axis=1) / df_age_mode_femme['POPEST_FEMALE']

In [306]:
df_age_mode_femme

,1824,2529,3034,3539,4044,4549,5054,5559,6064,6569,...,Moyenne_4549,Moyenne_5054,Moyenne_5559,Moyenne_6064,Moyenne_6569,Moyenne_7074,Moyenne_7579,Moyenne_8084,Moyenne_8591,Moyenne_femme
0,34826.0,22966.0,22585.0,21353.0,20670.0,19908.0,23264.0,24987.0,25988.0,23105.0,...,935676.0,1209728.0,1424259.0,1611256.0,1548035.0,1400976.0,945175.0,672892.0,782848.0,39.816189
1,7672.0,4876.0,5233.0,4770.0,4735.0,4484.0,4587.0,4995.0,4984.0,4520.0,...,210748.0,238524.0,284715.0,309008.0,302840.0,274752.0,187110.0,134070.0,144760.0,37.639526
2,4834.0,4281.0,4551.0,4305.0,3915.0,3566.0,3796.0,4204.0,4470.0,4317.0,...,167602.0,197392.0,239628.0,277140.0,289239.0,263880.0,180334.0,126526.0,118272.0,38.987384
3,47352.0,28880.0,29317.0,28999.0,27242.0,25706.0,29339.0,32700.0,31991.0,27959.0,...,1208182.0,1525628.0,1863900.0,1983442.0,1873253.0,1766952.0,1217370.0,848208.0,1102024.0,40.085566
4,39180.0,30499.0,32231.0,32070.0,29210.0,26675.0,27503.0,29911.0,31450.0,29441.0,...,1253725.0,1430156.0,1704927.0,1949900.0,1972547.0,1792152.0,1226456.0,813932.0,838904.0,38.923786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,45155.0,30076.0,32378.0,32171.0,29900.0,30210.0,34439.0,36746.0,34671.0,28665.0,...,1419870.0,1790828.0,2094522.0,2149602.0,1920555.0,1657368.0,1167166.0,827708.0,1068144.0,39.264453
292,11948.0,8774.0,8305.0,7790.0,7508.0,6783.0,6821.0,6869.0,6624.0,6149.0,...,318801.0,354692.0,391533.0,410688.0,411983.0,374040.0,261261.0,187534.0,208032.0,33.499138
293,17453.0,13544.0,14548.0,14708.0,14030.0,13687.0,15513.0,16327.0,16236.0,14202.0,...,643289.0,806676.0,930639.0,1006632.0,951534.0,866232.0,616154.0,434108.0,515944.0,39.518955
294,21127.0,15529.0,15061.0,14785.0,14885.0,15023.0,17126.0,18921.0,21308.0,20005.0,...,706081.0,890552.0,1078497.0,1321096.0,1340335.0,1228680.0,872872.0,663052.0,831688.0,42.066403
295,9232.0,6598.0,6348.0,5689.0,5145.0,4900.0,5105.0,5163.0,5083.0,5178.0,...,230300.0,265460.0,294291.0,315146.0,346926.0,384696.0,357203.0,265598.0,227392.0,37.005538

In [307]:
df_age_mode_femme['gender'] = 'F'

In [308]:
df_age_mode_femme

,1824,2529,3034,3539,4044,4549,5054,5559,6064,6569,...,Moyenne_5054,Moyenne_5559,Moyenne_6064,Moyenne_6569,Moyenne_7074,Moyenne_7579,Moyenne_8084,Moyenne_8591,Moyenne_femme,gender
0,34826.0,22966.0,22585.0,21353.0,20670.0,19908.0,23264.0,24987.0,25988.0,23105.0,...,1209728.0,1424259.0,1611256.0,1548035.0,1400976.0,945175.0,672892.0,782848.0,39.816189,F
1,7672.0,4876.0,5233.0,4770.0,4735.0,4484.0,4587.0,4995.0,4984.0,4520.0,...,238524.0,284715.0,309008.0,302840.0,274752.0,187110.0,134070.0,144760.0,37.639526,F
2,4834.0,4281.0,4551.0,4305.0,3915.0,3566.0,3796.0,4204.0,4470.0,4317.0,...,197392.0,239628.0,277140.0,289239.0,263880.0,180334.0,126526.0,118272.0,38.987384,F
3,47352.0,28880.0,29317.0,28999.0,27242.0,25706.0,29339.0,32700.0,31991.0,27959.0,...,1525628.0,1863900.0,1983442.0,1873253.0,1766952.0,1217370.0,848208.0,1102024.0,40.085566,F
4,39180.0,30499.0,32231.0,32070.0,29210.0,26675.0,27503.0,29911.0,31450.0,29441.0,...,1430156.0,1704927.0,1949900.0,1972547.0,1792152.0,1226456.0,813932.0,838904.0,38.923786,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,45155.0,30076.0,32378.0,32171.0,29900.0,30210.0,34439.0,36746.0,34671.0,28665.0,...,1790828.0,2094522.0,2149602.0,1920555.0,1657368.0,1167166.0,827708.0,1068144.0,39.264453,F
292,11948.0,8774.0,8305.0,7790.0,7508.0,6783.0,6821.0,6869.0,6624.0,6149.0,...,354692.0,391533.0,410688.0,411983.0,374040.0,261261.0,187534.0,208032.0,33.499138,F
293,17453.0,13544.0,14548.0,14708.0,14030.0,13687.0,15513.0,16327.0,16236.0,14202.0,...,806676.0,930639.0,1006632.0,951534.0,866232.0,616154.0,434108.0,515944.0,39.518955,F
294,21127.0,15529.0,15061.0,14785.0,14885.0,15023.0,17126.0,18921.0,21308.0,20005.0,...,890552.0,1078497.0,1321096.0,1340335.0,1228680.0,872872.0,663052.0,831688.0,42.066403,F
295,9232.0,6598.0,6348.0,5689.0,5145.0,4900.0,5105.0,5163.0,5083.0,5178.0,...,265460.0,294291.0,315146.0,346926.0,384696.0,357203.0,265598.0,227392.0,37.005538,F

In [309]:
df_age_mode_homme = df_age_mode[['AGE1824_MALE','AGE2529_MALE','AGE3034_MALE'	,'AGE3539_MALE'	,'AGE4044_MALE','AGE4549_MALE','AGE5054_MALE','AGE5559_MALE','AGE6064_MALE','AGE6569_MALE','AGE7074_MALE','AGE7579_MALE','AGE8084_MALE','AGE85PLUS_MALE']]

In [310]:
df_age_mode_homme = df_age_mode_homme.rename(columns=lambda x: ''.join(filter(str.isdigit, str(x))))

In [311]:
df_age_mode_homme['8591'] = df_age_mode_homme['85']

In [312]:
df_age_mode_homme.drop(['85'], axis=1, inplace=True)

In [313]:
df_age_mode_homme['POPEST_MALE'] = df['POPEST_MALE']

In [314]:
'''df_age_mode_homme['Moyenne_1824'] = df_age_mode_homme['1824']*(18+24)/2
df_age_mode_homme['Moyenne_2529'] = df_age_mode_homme['2529']*(25+29)/2
df_age_mode_homme['Moyenne_3034'] = df_age_mode_homme['3034']*(30+34)/2
df_age_mode_homme['Moyenne_3539'] = df_age_mode_homme['3539']*(35+39)/2
df_age_mode_homme['Moyenne_4044'] = df_age_mode_homme['4044']*(40+44)/2
df_age_mode_homme['Moyenne_4549'] = df_age_mode_homme['4549']*(45+49)/2
df_age_mode_homme['Moyenne_5054'] = df_age_mode_homme['5054']*(50+54)/2
df_age_mode_homme['Moyenne_5559'] = df_age_mode_homme['5559']*(55+59)/2
df_age_mode_homme['Moyenne_6064'] = df_age_mode_homme['6064']*(60+64)/2
df_age_mode_homme['Moyenne_6569'] = df_age_mode_homme['6569']*(65+69)/2
df_age_mode_homme['Moyenne_7074'] = df_age_mode_homme['7074']*(70+74)/2
df_age_mode_homme['Moyenne_7579'] = df_age_mode_homme['7579']*(75+79)/2
df_age_mode_homme['Moyenne_8084'] = df_age_mode_homme['8084']*(80+84)/2
df_age_mode_homme['Moyenne_8591'] = df_age_mode_homme['8591']*(85+91)/2
df_age_mode_homme['Moyenne_majeur'] = (df_age_male['Moyenne_1824']+df_age_mode_homme['Moyenne_2529']+df_age_mode_homme['Moyenne_3034']+df_age_mode_homme['Moyenne_3539']+
                                       df_age_mode_homme['Moyenne_4044']+df_age_mode_homme['Moyenne_4549']+df_age_mode_homme['Moyenne_5054']+df_age_mode_homme['Moyenne_5559']+
                                       df_age_mode_homme['Moyenne_6064']+df_age_mode_homme['Moyenne_6569']+df_age_mode_homme['Moyenne_7074']+df_age_mode_homme['Moyenne_7579']+
                                       df_age_mode_homme['Moyenne_8084']+df_age_mode_homme['Moyenne_8591'])/df_age_mode_homme['POPEST_MALE']'''

"df_age_mode_homme['Moyenne_1824'] = df_age_mode_homme['1824']*(18+24)/2\ndf_age_mode_homme['Moyenne_2529'] = df_age_mode_homme['2529']*(25+29)/2\ndf_age_mode_homme['Moyenne_3034'] = df_age_mode_homme['3034']*(30+34)/2\ndf_age_mode_homme['Moyenne_3539'] = df_age_mode_homme['3539']*(35+39)/2\ndf_age_mode_homme['Moyenne_4044'] = df_age_mode_homme['4044']*(40+44)/2\ndf_age_mode_homme['Moyenne_4549'] = df_age_mode_homme['4549']*(45+49)/2\ndf_age_mode_homme['Moyenne_5054'] = df_age_mode_homme['5054']*(50+54)/2\ndf_age_mode_homme['Moyenne_5559'] = df_age_mode_homme['5559']*(55+59)/2\ndf_age_mode_homme['Moyenne_6064'] = df_age_mode_homme['6064']*(60+64)/2\ndf_age_mode_homme['Moyenne_6569'] = df_age_mode_homme['6569']*(65+69)/2\ndf_age_mode_homme['Moyenne_7074'] = df_age_mode_homme['7074']*(70+74)/2\ndf_age_mode_homme['Moyenne_7579'] = df_age_mode_homme['7579']*(75+79)/2\ndf_age_mode_homme['Moyenne_8084'] = df_age_mode_homme['8084']*(80+84)/2\ndf_age_mode_homme['Moyenne_8591'] = df_age_mode_homme['8591']*(85+91)/2\ndf_age_mode_homme['Moyenne_majeur'] = (df_age_male['Moyenne_1824']+df_age_mode_homme['Moyenne_2529']+df_age_mode_homme['Moyenne_3034']+df_age_mode_homme['Moyenne_3539']+\n                                       df_age_mode_homme['Moyenne_4044']+df_age_mode_homme['Moyenne_4549']+df_age_mode_homme['Moyenne_5054']+df_age_mode_homme['Moyenne_5559']+\n                                       df_age_mode_homme['Moyenne_6064']+df_age_mode_homme['Moyenne_6569']+df_age_mode_homme['Moyenne_7074']+df_age_mode_homme['Moyenne_7579']+\n                                       df_age_mode_homme['Moyenne_8084']+df_age_mode_homme['Moyenne_8591'])/df_age_mode_homme['POPEST_MALE']"

In [315]:
for age in ['1824', '2529', 
            '3034', '3539', 
            '4044', '4549', 
            '5054', '5559', 
            '6064', '6569', 
            '7074', '7579', 
            '8084', '8591']:
    df_age_mode_homme[f'Moyenne_{age}'] = df_age_mode_homme[age] * ((int(age[:2]) + int(age[2:])) / 2)

df_age_mode_homme['Moyenne_homme'] = df_age_mode_homme[[f'Moyenne_{age}' for age in ['1824', '2529', 
                                                                                     '3034', '3539', 
                                                                                     '4044', '4549', 
                                                                                     '5054', '5559', 
                                                                                     '6064', '6569', 
                                                                                     '7074', '7579', 
                                                                                     '8084', '8591']]].sum(axis=1) / df_age_mode_homme['POPEST_MALE']

In [316]:
df_age_mode_homme

,1824,2529,3034,3539,4044,4549,5054,5559,6064,6569,...,Moyenne_4549,Moyenne_5054,Moyenne_5559,Moyenne_6064,Moyenne_6569,Moyenne_7074,Moyenne_7579,Moyenne_8084,Moyenne_8591,Moyenne_homme
0,33660.0,23117.0,22270.0,21217.0,20415.0,19636.0,22710.0,23838.0,24476.0,21015.0,...,922892.0,1180920.0,1358766.0,1517512.0,1408005.0,1209600.0,757372.0,476010.0,436744.0,37.900398
1,7198.0,4389.0,4647.0,4225.0,4191.0,4059.0,4140.0,4238.0,4248.0,3834.0,...,190773.0,215280.0,241566.0,263376.0,256878.0,232272.0,147532.0,83722.0,64944.0,34.888650
2,5011.0,4392.0,4515.0,4362.0,3938.0,3659.0,3909.0,4051.0,4225.0,4001.0,...,171973.0,203268.0,230907.0,261950.0,268067.0,244512.0,170632.0,99466.0,73216.0,37.491104
3,47626.0,29416.0,29451.0,29114.0,27213.0,25208.0,29336.0,30951.0,30447.0,26060.0,...,1184776.0,1525472.0,1764207.0,1887714.0,1746020.0,1561320.0,1011549.0,612868.0,568128.0,38.025946
4,40782.0,31806.0,33281.0,32983.0,29785.0,26770.0,27010.0,28499.0,28851.0,25090.0,...,1258190.0,1404520.0,1624443.0,1788762.0,1681030.0,1575792.0,1019172.0,634024.0,527912.0,36.934456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,46335.0,31571.0,33257.0,32503.0,30018.0,29904.0,34179.0,36397.0,34687.0,27305.0,...,1405488.0,1777308.0,2074629.0,2150594.0,1829435.0,1507104.0,965195.0,591138.0,531608.0,37.423970
292,12527.0,8794.0,8535.0,7858.0,7719.0,6861.0,6972.0,7004.0,6806.0,5601.0,...,322467.0,362544.0,399228.0,421972.0,375267.0,346104.0,239085.0,151536.0,127072.0,32.195297
293,18926.0,14073.0,14987.0,14659.0,14137.0,13571.0,15930.0,16230.0,15850.0,13368.0,...,637837.0,828360.0,925110.0,982700.0,895656.0,781056.0,524832.0,336610.0,281424.0,37.600707
294,22833.0,16828.0,16331.0,15105.0,15337.0,15289.0,17209.0,18456.0,19787.0,18321.0,...,718583.0,894868.0,1051992.0,1226794.0,1227507.0,1097064.0,688688.0,458954.0,425920.0,39.302733
295,12808.0,8361.0,7699.0,6859.0,5854.0,4965.0,4925.0,4845.0,4948.0,4902.0,...,233355.0,256100.0,276165.0,306776.0,328434.0,350712.0,312851.0,260350.0,226600.0,35.337921

In [317]:
df_age_mode_homme['gender'] = 'M'

In [318]:
df_age_mode_homme

,1824,2529,3034,3539,4044,4549,5054,5559,6064,6569,...,Moyenne_5054,Moyenne_5559,Moyenne_6064,Moyenne_6569,Moyenne_7074,Moyenne_7579,Moyenne_8084,Moyenne_8591,Moyenne_homme,gender
0,33660.0,23117.0,22270.0,21217.0,20415.0,19636.0,22710.0,23838.0,24476.0,21015.0,...,1180920.0,1358766.0,1517512.0,1408005.0,1209600.0,757372.0,476010.0,436744.0,37.900398,M
1,7198.0,4389.0,4647.0,4225.0,4191.0,4059.0,4140.0,4238.0,4248.0,3834.0,...,215280.0,241566.0,263376.0,256878.0,232272.0,147532.0,83722.0,64944.0,34.888650,M
2,5011.0,4392.0,4515.0,4362.0,3938.0,3659.0,3909.0,4051.0,4225.0,4001.0,...,203268.0,230907.0,261950.0,268067.0,244512.0,170632.0,99466.0,73216.0,37.491104,M
3,47626.0,29416.0,29451.0,29114.0,27213.0,25208.0,29336.0,30951.0,30447.0,26060.0,...,1525472.0,1764207.0,1887714.0,1746020.0,1561320.0,1011549.0,612868.0,568128.0,38.025946,M
4,40782.0,31806.0,33281.0,32983.0,29785.0,26770.0,27010.0,28499.0,28851.0,25090.0,...,1404520.0,1624443.0,1788762.0,1681030.0,1575792.0,1019172.0,634024.0,527912.0,36.934456,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,46335.0,31571.0,33257.0,32503.0,30018.0,29904.0,34179.0,36397.0,34687.0,27305.0,...,1777308.0,2074629.0,2150594.0,1829435.0,1507104.0,965195.0,591138.0,531608.0,37.423970,M
292,12527.0,8794.0,8535.0,7858.0,7719.0,6861.0,6972.0,7004.0,6806.0,5601.0,...,362544.0,399228.0,421972.0,375267.0,346104.0,239085.0,151536.0,127072.0,32.195297,M
293,18926.0,14073.0,14987.0,14659.0,14137.0,13571.0,15930.0,16230.0,15850.0,13368.0,...,828360.0,925110.0,982700.0,895656.0,781056.0,524832.0,336610.0,281424.0,37.600707,M
294,22833.0,16828.0,16331.0,15105.0,15337.0,15289.0,17209.0,18456.0,19787.0,18321.0,...,894868.0,1051992.0,1226794.0,1227507.0,1097064.0,688688.0,458954.0,425920.0,39.302733,M
295,12808.0,8361.0,7699.0,6859.0,5854.0,4965.0,4925.0,4845.0,4948.0,4902.0,...,256100.0,276165.0,306776.0,328434.0,350712.0,312851.0,260350.0,226600.0,35.337921,M

In [319]:
df["smh"]=df["2021"]*df_age_test['POPESTIMATE']/(df_age_mode_homme['POPEST_MALE']+(0.815 *df_age_mode_femme['POPEST_FEMALE']))

In [320]:
df["smf"]=df["smh"]*0.815

In [321]:
df_test = df[['City_State_x','2019','2020','2021', 'Count', 'Longitude', 'Latitude','POPESTIMATE','nb_personne_starbucks' ]]

In [322]:
df_test

,City_State_x,2019,2020,2021,Count,Longitude,Latitude,POPESTIMATE,nb_personne_starbucks
0,"Akron, OH",51827,55232.0,58735.0,10,-81.51,41.08,700015.0,70001.500000
1,"Albany, GA",38118,42006.0,45619.0,3,-84.22,31.61,147773.0,49257.666667
2,"Lebanon, OR",44501,48357.0,52695.0,1,-122.91,44.53,129839.0,129839.000000
3,"Troy, NY",59477,63951.0,67788.0,1,-73.68,42.74,899286.0,899286.000000
4,"Albuquerque, NM",44884,48514.0,52263.0,37,-106.69,35.18,918259.0,24817.810811
...,...,...,...,...,...,...,...,...,...
291,"Worcester, MACT",55671,60364.0,64540.0,3,-71.81,42.29,978447.0,326149.000000
292,"Yakima, WA",43208,47315.0,50872.0,11,-120.56,46.62,256035.0,23275.909091
293,"Hanover, PA",51295,54808.0,57870.0,2,-76.99,39.83,458696.0,229348.000000
294,"Boardman, OHPA",42450,46009.0,48904.0,1,-80.68,41.02,538069.0,538069.000000
295,"Yuma, AZ",37624,42732.0,44299.0,8,-114.61,32.70,206990.0,25873.750000

In [323]:
df_femme_ml = pd.DataFrame({'City_State_x': df_test['City_State_x'], 
                            'gender': df_age_mode_femme['gender'], 
                            'Moyenne_par_sexe': df_age_mode_femme['Moyenne_femme'], 
                            'Moyenne_salaire': df['smf']})

In [324]:
df_homme_ml = pd.DataFrame({'City_State_x': df_test['City_State_x'], 
                            'gender': df_age_mode_homme['gender'], 
                            'Moyenne_par_sexe': df_age_mode_homme['Moyenne_homme'], 
                            'Moyenne_salaire': df['smh']})

In [325]:
df_homme_ml

        City_State_x gender  Moyenne_par_sexe  Moyenne_salaire
0          Akron, OH      M         37.900398     64877.038008
1         Albany, GA      M         34.888650     50530.099772
2        Lebanon, OR      M         37.491104     58102.195074
3           Troy, NY      M         38.025946     74821.998906
4    Albuquerque, NM      M         36.934456     57656.738645
..               ...    ...               ...              ...
291  Worcester, MACT      M         37.423970     71167.247192
292       Yakima, WA      M         32.195297     56040.277884
293      Hanover, PA      M         37.600707     63796.437530
294   Boardman, OHPA      M         39.302733     53953.166213
295         Yuma, AZ      M         35.337921     48631.651616

[296 rows x 4 columns]

In [326]:
df_femme_ml

        City_State_x gender  Moyenne_par_sexe  Moyenne_salaire
0          Akron, OH      F         39.816189     52874.785977
1         Albany, GA      F         37.639526     41182.031314
2        Lebanon, OR      F         38.987384     47353.288985
3           Troy, NY      F         40.085566     60979.929108
4    Albuquerque, NM      F         38.923786     46990.241996
..               ...    ...               ...              ...
291  Worcester, MACT      F         39.264453     58001.306461
292       Yakima, WA      F         33.499138     45672.826475
293      Hanover, PA      F         39.518955     51994.096587
294   Boardman, OHPA      F         42.066403     43971.830463
295         Yuma, AZ      F         37.005538     39634.796067

[296 rows x 4 columns]

In [327]:
df_ml = pd.concat([df_homme_ml, df_femme_ml], ignore_index=True)

In [328]:
df_ml

        City_State_x gender  Moyenne_par_sexe  Moyenne_salaire
0          Akron, OH      M         37.900398     64877.038008
1         Albany, GA      M         34.888650     50530.099772
2        Lebanon, OR      M         37.491104     58102.195074
3           Troy, NY      M         38.025946     74821.998906
4    Albuquerque, NM      M         36.934456     57656.738645
..               ...    ...               ...              ...
587  Worcester, MACT      F         39.264453     58001.306461
588       Yakima, WA      F         33.499138     45672.826475
589      Hanover, PA      F         39.518955     51994.096587
590   Boardman, OHPA      F         42.066403     43971.830463
591         Yuma, AZ      F         37.005538     39634.796067

[592 rows x 4 columns]

In [329]:
df_ml.to_csv("df_machine_learning.csv")

In [330]:
import plotly.express as px

fig = px.scatter_mapbox(df_test, lat='Latitude', lon='Longitude', mapbox_style='open-street-map',
                        zoom=1,
                        color='POPESTIMATE',
                        hover_name='City_State_x',
                        color_continuous_scale='Viridis',  # Modifier la palette de couleurs ici
                        color_continuous_midpoint=50000,  # Modifier le point médian des couleurs ici
                        labels={'POPESTIMATE': 'Population'},  # Modifier le label de la légende ici
                        title='Carte des populations par ville'  # Modifier le titre du graphique ici
                        )

fig.update_layout(coloraxis_colorbar_title='Population',  # Modifier le titre de la légende ici
                  title_font_size=20)  # Modifier la taille du titre du graphique ici

fig.show()

In [331]:
dff = pd.read_csv("df_propre.csv")

In [332]:
import plotly.express as px


# Créer une plage de zoom pour la région des États-Unis
zoom = 4

# Tracer la carte en utilisant les coordonnées de latitude et de longitude filtrées
fig = px.scatter_mapbox(dff, lat='Latitude', lon='Longitude', mapbox_style='open-street-map',
                        center={'lat': center_lat, 'lon': center_lon},
                        zoom=zoom,
                        color='POPESTIMATE',
                        hover_name='City',
                        color_continuous_scale='darkmint',
                        color_continuous_midpoint=df_test['POPESTIMATE'].median(),
                        labels={'POPESTIMATE': 'Population'},
                        title='Carte des populations par ville')

# Modifier la légende de la couleur et le titre du graphique
fig.update_layout(coloraxis_colorbar_title='Population',
                  title_font_size=20)

# Modifier le style de la carte
fig.update_layout(
    mapbox=dict(
        style='carto-positron',  # Choisir un style de carte plus esthétique
        zoom=3,  # Modifier le zoom initial ici
        center=dict(lat=center_lat, lon=center_lon),  # Définir le centre de la carte sur les États-Unis
    ),
    margin=dict(l=0, r=0, t=50, b=0),  # Modifier les marges de la carte ici
    showlegend=False,  # Masquer la légende de la carte
    title_font_size=20  # Modifier la taille du titre du graphique ici
)

# Afficher la figure
fig.show()

In [334]:
dff

,2019,2020,2021,prediction_mean,State/Province_x,City_State,Count,City,Longitude,Latitude,...,AGE7579_FEMALE,AGE8084_TOTAL,AGE8084_MALE,AGE8084_FEMALE,AGE85PLUS_TOTAL,AGE85PLUS_MALE,AGE85PLUS_FEMALE,MEDIAN_AGE_TOTAL,MEDIAN_AGE_MALE,MEDIAN_AGE_FEMALE
0,51827,55232,58735,0.909252,OH,"Akron, OH",10,Akron,-81.51,41.08,...,12275,14011,5805,8206,13859,4963,8896,40.7,39.7,41.8
1,38118,42006,45619,0.904930,GA,"Albany, GA",3,Albany,-84.22,31.61,...,2430,2656,1021,1635,2383,738,1645,37.6,35.9,39.0
2,44501,48357,52695,0.856468,OR,"Albany-Lebanon, OR",6,Albany-Lebanon,-122.91,44.53,...,2342,2756,1213,1543,2176,832,1344,39.8,39.0,40.6
3,59477,63951,67788,0.914221,NY,"Albany-Schenectady-Troy, NY",7,Albany-Schenectady-Troy,-73.68,42.74,...,15810,17818,7474,10344,18979,6456,12523,40.6,39.4,41.7
4,44884,48514,52263,0.856468,NM,"Albuquerque, NM",37,Albuquerque,-106.69,35.18,...,15928,17658,7732,9926,15532,5999,9533,39.2,38.2,40.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,55671,60364,64540,0.904944,MACT,"Worcester, MA-CT",3,Worcester,-71.81,42.29,...,15158,17303,7209,10094,18179,6041,12138,40.4,39.4,41.4
286,43208,47315,50872,0.866906,WA,"Yakima, WA",11,Yakima,-120.56,46.62,...,3393,4135,1848,2287,3808,1444,2364,33.1,32.4,33.7
287,51295,54808,57870,0.890291,PA,"York-Hanover, PA",9,York-Hanover,-76.99,39.83,...,8002,9399,4105,5294,9061,3198,5863,41.0,40.0,42.1
288,42450,46009,48904,0.894352,OHPA,"Youngstown-Warren-Boardman, OH-PA",3,Youngstown-Warren-Boardman,-80.68,41.02,...,11336,13683,5597,8086,14291,4840,9451,43.8,42.0,45.8
289,37624,42732,44299,0.851938,AZ,"Yuma, AZ",8,Yuma,-114.61,32.70,...,4639,6414,3175,3239,5159,2575,2584,35.2,33.9,36.9

In [335]:
dff.drop(['2020'], axis=1, inplace=True )

In [336]:
dff.sort_values(by='prediction_mean', ascending=False, inplace=True)

In [337]:
dff.head(10)

,2019,2021,prediction_mean,State/Province_x,City_State,Count,City,Longitude,Latitude,POPESTIMATE,...,AGE7579_FEMALE,AGE8084_TOTAL,AGE8084_MALE,AGE8084_FEMALE,AGE85PLUS_TOTAL,AGE85PLUS_MALE,AGE85PLUS_FEMALE,MEDIAN_AGE_TOTAL,MEDIAN_AGE_MALE,MEDIAN_AGE_FEMALE
175,28256,34503,0.961931,TX,"McAllen-Edinburg-Mission, TX",12,McAllen-Edinburg-Mission,-98.29,26.20,880356,...,10498,12674,5462,7212,11366,4545,6821,30.1,29.1,31.1
42,30361,37861,0.945207,TX,"Brownsville-Harlingen, TX",7,Brownsville-Harlingen,-97.72,26.19,423029,...,6030,7377,3213,4164,6700,2595,4105,32.5,30.9,34.2
165,40666,46903,0.931237,UTID,"Logan, UT-ID",2,Logan,-111.83,41.72,152083,...,1483,1883,870,1013,1582,687,895,26.3,26.3,26.3
124,40770,47217,0.931237,VA,"Harrisonburg, VA",6,Harrisonburg,-78.88,38.43,135824,...,2088,2643,1142,1501,2597,938,1659,35.1,35.1,35.2
149,41863,47031,0.931237,IN,"Kokomo, IN",1,Kokomo,-86.13,40.44,83687,...,1740,2012,857,1155,1829,689,1140,40.8,39.2,42.2
187,39956,46859,0.931237,LA,"Monroe, LA",2,Monroe,-92.12,32.53,204884,...,3391,3882,1575,2307,3590,1252,2338,37.9,36.4,39.3
129,41510,46897,0.931237,AR,"Hot Springs, AR",1,Hot Springs,-93.06,34.46,100330,...,2500,3033,1389,1644,2508,961,1547,45.4,43.6,47.2
122,40912,47076,0.931237,LA,"Hammond, LA",3,Hammond,-90.49,30.50,135217,...,1923,2056,841,1215,1646,580,1066,36.1,35.3,37.0
234,42732,47162,0.931237,UT,"St George, UT",5,St. George,-113.60,37.13,191226,...,4363,5398,2677,2721,4288,2112,2176,39.0,38.1,39.9
188,43084,49310,0.931019,AL,"Montgomery, AL",6,Montgomery,-86.18,32.38,385798,...,6371,7012,2886,4126,5992,2066,3926,38.1,36.5,39.6

In [338]:
dff['starbucks_percapita'] = dff['POPESTIMATE']/dff['Count']

In [339]:
import plotly.graph_objects as go

# Calculate the average of the "starbucks_percapita" column
average_starbucks_percapita = dff['starbucks_percapita'].mean()


filtered_data = dff[(dff['starbucks_percapita'] >= average_starbucks_percapita)
]

# Sort the filtered data by the sum in descending order and select the top 30 groups
sorted_data = filtered_data.sort_values('prediction_mean', ascending=False).head(10)

City_State_x = sorted_data['City_State']
total_sum = sorted_data['prediction_mean']

# Create bar chart
fig = go.Figure()
fig.add_trace(go.Bar(x=City_State_x, y=prediction_mean, name=''))

# Set chart title and axis labels
fig.update_layout(
    title='S...',
    xaxis_title='City',
    yaxis_title='Score predict'
)

# Display the chart
fig.show()

In [340]:
import plotly.graph_objects as go

# Calculer la moyenne de la colonne "starbucks_percapita"
average_starbucks_percapita = dff['starbucks_percapita'].mean()

# Filtrer les données selon la condition de "starbucks_percapita" supérieur ou égal à la moyenne
filtered_data = dff[dff['starbucks_percapita'] >= average_starbucks_percapita]

# Trier les données filtrées par la colonne 'prediction_mean' en ordre décroissant et sélectionner les 30 premières lignes
sorted_data = filtered_data.sort_values('prediction_mean', ascending=False).head(30)

City_State_x = sorted_data['City_State']
prediction_mean = sorted_data['prediction_mean']

# Créer un graphique à barres
fig = go.Figure()
fig.add_trace(go.Bar(x=City_State_x, y=prediction_mean, name='Score predict'))

# Définir le titre du graphique et les étiquettes des axes
fig.update_layout(
    title='Top 30 des valeurs de Score predict',
    xaxis_title='City_State',
    yaxis_title='Score predict'
)

# Afficher le graphique
fig.show()

In [341]:
# Ville
# minneapolis(22) allentown(20) vallejo(13) pittsfield(12)

SyntaxError: invalid syntax (4182802011.py, line 1)

In [ ]:
import seaborn as sns

In [ ]:
df

,City_x_x,2019,2020,2021,State/Province_x,City_State_x,Matched_Index,Count,City_y,State/Province_y,...,AGE85PLUS_MALE,AGE85PLUS_FEMALE,MEDIAN_AGE_TOTAL,MEDIAN_AGE_MALE,MEDIAN_AGE_FEMALE,City_x_y,State_x,nb_personne_starbucks,smh,smf
0,Akron,51827,55232.0,58735.0,OH,"Akron, OH",22,10,Akron,OH,...,4963.0,8896.0,40.7,39.7,41.8,Akron,OH,70001.500000,64877.038008,52874.785977
1,Albany,38118,42006.0,45619.0,GA,"Albany, GA",29,3,Albany,GA,...,738.0,1645.0,37.6,35.9,39.0,Albany,GA,49257.666667,50530.099772,41182.031314
2,Lebanon,44501,48357.0,52695.0,OR,"Lebanon, OR",1755,1,Lebanon,OR,...,832.0,1344.0,39.8,39.0,40.6,Lebanon,OR,129839.000000,58102.195074,47353.288985
3,Troy,59477,63951.0,67788.0,NY,"Troy, NY",3228,1,Troy,NY,...,6456.0,12523.0,40.6,39.4,41.7,Troy,NY,899286.000000,74821.998906,60979.929108
4,Albuquerque,44884,48514.0,52263.0,NM,"Albuquerque, NM",32,37,Albuquerque,NM,...,5999.0,9533.0,39.2,38.2,40.4,Albuquerque,NM,24817.810811,57656.738645,46990.241996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,Worcester,55671,60364.0,64540.0,MACT,"Worcester, MACT",3576,3,Worcester,MA,...,6041.0,12138.0,40.4,39.4,41.4,Worcester,MA,326149.000000,71167.247192,58001.306461
292,Yakima,43208,47315.0,50872.0,WA,"Yakima, WA",3585,11,Yakima,WA,...,1444.0,2364.0,33.1,32.4,33.7,Yakima,WA,23275.909091,56040.277884,45672.826475
293,Hanover,51295,54808.0,57870.0,PA,"Hanover, PA",1347,2,Hanover,PA,...,3198.0,5863.0,41.0,40.0,42.1,Hanover,PA,229348.000000,63796.437530,51994.096587
294,Boardman,42450,46009.0,48904.0,OHPA,"Boardman, OHPA",298,1,Boardman,OH,...,4840.0,9451.0,43.8,42.0,45.8,Boardman,OH,538069.000000,53953.166213,43971.830463
295,Yuma,37624,42732.0,44299.0,AZ,"Yuma, AZ",3605,8,Yuma,AZ,...,2575.0,2584.0,35.2,33.9,36.9,Yuma,AZ,25873.750000,48631.651616,39634.796067

In [ ]:
df['age_homme'] = df_age_mode_homme['Moyenne_homme']

In [ ]:
df['age_femme'] = df_age_mode_femme['Moyenne_femme']

In [ ]:
df

,City_x_x,2019,2020,2021,State/Province_x,City_State_x,Matched_Index,Count,City_y,State/Province_y,...,MEDIAN_AGE_TOTAL,MEDIAN_AGE_MALE,MEDIAN_AGE_FEMALE,City_x_y,State_x,nb_personne_starbucks,smh,smf,age_homme,age_femme
0,Akron,51827,55232.0,58735.0,OH,"Akron, OH",22,10,Akron,OH,...,40.7,39.7,41.8,Akron,OH,70001.500000,64877.038008,52874.785977,37.900398,39.816189
1,Albany,38118,42006.0,45619.0,GA,"Albany, GA",29,3,Albany,GA,...,37.6,35.9,39.0,Albany,GA,49257.666667,50530.099772,41182.031314,34.888650,37.639526
2,Lebanon,44501,48357.0,52695.0,OR,"Lebanon, OR",1755,1,Lebanon,OR,...,39.8,39.0,40.6,Lebanon,OR,129839.000000,58102.195074,47353.288985,37.491104,38.987384
3,Troy,59477,63951.0,67788.0,NY,"Troy, NY",3228,1,Troy,NY,...,40.6,39.4,41.7,Troy,NY,899286.000000,74821.998906,60979.929108,38.025946,40.085566
4,Albuquerque,44884,48514.0,52263.0,NM,"Albuquerque, NM",32,37,Albuquerque,NM,...,39.2,38.2,40.4,Albuquerque,NM,24817.810811,57656.738645,46990.241996,36.934456,38.923786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,Worcester,55671,60364.0,64540.0,MACT,"Worcester, MACT",3576,3,Worcester,MA,...,40.4,39.4,41.4,Worcester,MA,326149.000000,71167.247192,58001.306461,37.423970,39.264453
292,Yakima,43208,47315.0,50872.0,WA,"Yakima, WA",3585,11,Yakima,WA,...,33.1,32.4,33.7,Yakima,WA,23275.909091,56040.277884,45672.826475,32.195297,33.499138
293,Hanover,51295,54808.0,57870.0,PA,"Hanover, PA",1347,2,Hanover,PA,...,41.0,40.0,42.1,Hanover,PA,229348.000000,63796.437530,51994.096587,37.600707,39.518955
294,Boardman,42450,46009.0,48904.0,OHPA,"Boardman, OHPA",298,1,Boardman,OH,...,43.8,42.0,45.8,Boardman,OH,538069.000000,53953.166213,43971.830463,39.302733,42.066403
295,Yuma,37624,42732.0,44299.0,AZ,"Yuma, AZ",3605,8,Yuma,AZ,...,35.2,33.9,36.9,Yuma,AZ,25873.750000,48631.651616,39634.796067,35.337921,37.005538

In [ ]:
df.to_csv("dftest.csv")